<% if( !asset || (asset.couponInfoList.length === 0) ){%>

<div class="toolbar-empty">
    <div class="toolbar-mascot"></div>
    <p class="empty-tip">您还没有可用的优惠券哟！</p>
</div>
<% }else{ %>
<!-- asset -->
<div class="asset-section scroll-section">
    <ul class="coupon-list">
        <%_.each(asset.couponInfoList,function(couponInfoListValue){%>

            <% if(couponInfoListValue.discountType === "MALL_COUPON"){%>
                <li class="mall-coupon-item">
					<h3 class="coupon-title">
						<% if(couponInfoListValue.orderAmount === 0){%>
							无门槛减<strong class="highlight"><%=couponInfoListValue.discountAmount%></strong>元
						<%}else{%>
							满<strong class="highlight"><%=couponInfoListValue.orderAmount%></strong>元减<strong class="highlight"><%=couponInfoListValue.discountAmount%></strong>元							
						<%}%>
					</h3>
                    <p class="coupon-limit">每个ID限领<%=couponInfoListValue.customerMaximumClaimTimes%>次&nbsp;
					<a href="javascript:void(0);" class="j_assetTooltip" data-shop-firstShopName="<%=couponInfoListValue.firstShopName %>" data-platformRestrict="<%=couponInfoListValue.platformRestrict %>"
					data-shop-firstShopUrl="<%=couponInfoListValue.firstShopUrl %>" data-shop-isUniqueShop="<%=couponInfoListValue.isUniqueShop %>" data-hasItemLimit="<%=couponInfoListValue.hasItemLimit %>"><span>(使用限制)</span></a>
                    </p>
                    <p>有效期: <%=couponInfoListValue.useTimeRange %></p>
					<% if(couponInfoListValue.hyperlink){%>
						<p class="text-right"><a href="<%=couponInfoListValue.hyperlink %>"  target="_blank">立即使用></a></p>
					<%}%>					
                    <%if(couponInfoListValue.willExpire){%> <span class="expire-tip"><!-- 即将过期 --></span> <%}%>

                    <div class="right-adorn"></div>
                    
                </li>
            <%}%>
            
        <%})%>
    </ul>

    <%if(asset.currentPage < asset.totalPage){%>
        <p class="coupon-more"><a class="j_couponMore" href="javascript:void(0);" data-total-page="<%=asset.totalPage%>" data-current-page="<%=asset.currentPage%>">查看更多</a></p>
    <%}%>
    
</div>



<%}%>
