
<!-- toolbar -->
<div class="aside-toolbar-fixed no-close-toolbar">
    <div class="aside-toolbar j_asideToolbar">
        <!-- box -->
        <div class="toolbar-main j_toolbarMain">
            <div class="toolbar-box j_activityBox"></div>
            <div class="toolbar-box j_cartBox"></div>
            <div class="toolbar-box j_orderBox"></div>
            <div class="toolbar-box j_assetBox"></div>
            <div class="toolbar-box j_favoriteBox">
                <div class="favorite-section">
                    <div class="tab-bar clearfix">
                        <div class="tab-title active" data-name="favoriteProduct">商品</div>
                        <div class="tab-title" data-name="favoriteShop">店铺</div>
                    </div>
                    <div class="inner-box j_favoriteShopBox"></div>
                    <div class="inner-box j_favoriteProductBox"></div>
                </div>
            </div>
            <div class="toolbar-box j_recordBox"></div>
        </div>
        <!-- tab -->
        <div class="toolbar-tab">
            <div class="toolbar-tab-item activity-item">
                <!-- 活动入口 -->
                <div class="activity-bg"></div>
                <div class="activity-tab-item j_toolbarActivity"></div>
                <div class="activity-tip">
                    <i class="close"></i>
                </div>
            </div>
            <div class="toolbar-tab-item cart-item j_toolbarCart" id="toolbarCart">
                <div class="cart-title"><span class="toolbar-tab-icon count-icon" id="cartNumber">0</span><span class="toolbar-tab-icon cart-icon"></span></div>
                <div class="cart-text">购物车</div>
            </div>
            <div class="toolbar-tab-item order-item j_tabHover j_toolbarOrder">
                <div class="toolbar-tab-icon order-icon"></div>
                <div class="toolbar-tab-tip">我的订单</div>
            </div>
            <div class="toolbar-tab-item asset-item j_tabHover j_toolbarAsset">
                <div class="toolbar-tab-icon asset-icon"></div>
                <div class="toolbar-tab-tip">我的优惠券</div>
            </div>
            <div class="toolbar-tab-item favorite-item j_tabHover j_toolbarFavorite">
                <div class="toolbar-tab-icon favorite-icon"></div>
                <div class="toolbar-tab-tip">我的收藏</div>
            </div>
            <div class="toolbar-tab-item record-item j_tabHover j_toolbarRecord">
                <div class="toolbar-tab-icon record-icon"></div>
                <div class="toolbar-tab-tip">我的足迹</div>
            </div>
            <!-- sole -->
            <div class="tab-sole-group">
                <div class="sole-tab-item feedback-item j_tabHover j_toolbarFeedback">
                    <div class="toolbar-tab-icon feedback-icon"></div>
                    <div class="toolbar-tab-tip">用户反馈</div>
                </div>
                <div class="sole-tab-item server-item j_tabHover j_toolbarServer">
                    <a class="toolbar-tab-icon server-icon"></a>
                    <div class="toolbar-tab-tip">在线客服</div>
                </div>
                <div class="sole-tab-item backtop-item j_tabHover j_backtop">
                    <div class="toolbar-tab-icon backtop-icon"><a href="#"><!-- 返回顶部 --></a></div>
                </div>
            </div>
            

        </div>
    </div>
</div>

